<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <style>
        .odd {
            background-color: #f3f3f3;
        }

        .even {
            background-color: #ffffff;
        }

        #sidebar {
            position: fixed;
            width: 250px;
            height: 100%;
            background: #343a40;
            color: #fff;
            transition: all 0.3s;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

           /* #sidebar.active {
                margin-left: -250px;
            }*/

        #content {
            width: 100%;
            padding: 0px 15px;
            transition: all 0.3s;
        }

           
           
        #sidebarCollapse {
            width: 40px;
            height: 40px;
            background: #f8f9fa;
            cursor: pointer;
            transition: all 0.3s;
            position: fixed;
            top: 8px;
            left: 20px;
            border-radius: 5px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

            #sidebarCollapse i {
                color: #343a40;
            }

            #sidebarCollapse.active {
                left: 240px;
            }

                #sidebarCollapse.active i {
                    transform: rotate(180deg);
                }

        .navbar {
            background: #343a40;
            color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand {
            color: #fff;
        }

        .navbar-nav .nav-item .nav-link {
            color: #fff;
        }

        .list-unstyled {
            padding-left: 0;
            list-style: none;
            padding-top: 100px;
            padding-left: 23px;
        }

            .list-unstyled li {
                padding-bottom: 15px;
            }

                .list-unstyled li a {
                    color: #fff !important;
                }

        .pl-10 {
            padding-left: 15px;
        }
        .move-left {
            margin-left: 1000px;
        }
      
    </style>

</head>
<body class="bg-light">



    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div id="sidebarCollapse" class="bg-dark text-light p-2">
                <i class="fas fa-bars"></i>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="~/Home/Index">Home</a>
                </li>
                <li>
                    <a href="#dashboard">Dashboard</a>
                </li>
                <li>
                    <a href="#users">Users</a>
                </li>
                <li>
                    <a href="#settings">Settings</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="content">
            <!-- Top Navigation Bar -->
            <nav class="navbar navbar-expand-lg">
                <button type="button" id="sidebarCollapseButton" class="btn btn-dark">
                    <i class="fas fa-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Settings</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Your content goes here -->
            <div class="container-fluid">

                <div ng-app="Homeapp" ng-controller="HomeController" class="col-lg-10 offset-2 mt-4">
                    <h2>Search UserList</h2>      
                                                    <a class="btn btn-success" style="margin-left : 1000px" href="~/Home/Index">Add Users</a>

                    <p></p>
                    <div class="panel-body col-panel-body">
                        <form class="form-horizontal" name="frm_DisposalSearch" role="form" id="frm_DisposalSearch" ng-submit="SearchDisposal()">
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="txtName">Name</label>
                                    <input type="text" class="form-control" ng-model="DisposalSearchOption.Name" id="txtName" placeholder="Enter  Name" />
                                </div>


                                <div class="col-md-4">
                                    <label for="txtEmail">Email</label>
                                    <input type="email" class="form-control" ng-model="DisposalSearchOption.Email" id="txtEmail" placeholder="Enter  Email" />
                                </div>
                                <div class="col-md-4">
                                    <label for="txtmobile">Mobile No</label>
                                    <input type="number" class="form-control" ng-model="DisposalSearchOption.MobileNo" id="txtmobile" placeholder="Enter  Mobile No" />
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-success">Search</button>
                                    <button type="button" ng-click="Clear()" class="btn btn-danger">Clear</button>
                                </div>
                            </div>
                        </form>


                        <div class="mt-4">
                            <table id="tableData" style="border:1px solid black;border-collapse:collapse;" class="table table-bordered landscape">
                                <tr style="border:1px solid black;border-collapse:collapse;" class="table_tr landscape">
                                    <th>S.No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile No</th>
                                    <th>Action</th>
                                </tr>
                                <tr class="table_tr landscape" ng-repeat="e in record">
                                    <td>{{e.UserTableID}}</td>
                                    <td>{{e.FirstName}}</td>
                                    <td><div style="width:280px">{{e.Email}}</div></td>
                                    <td><div style="width:280px">{{e.PhoneNumber }}</div></td>
                                    <td>
                                        <a href="/Home/update_data?id={{e.UserTableID}}">Update</a>
                                        <a href="#" ng-click="confirmDelete(e.UserTableID)">Delete</a>
                                </tr>
                            </table>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer class="mt-4">
        <div class="container-fluid ">
            <div class="col-lg-10 offset-2 mt-4"><p class="pl-10">&copy;Your Company Name. All rights reserved.</p></div>


        </div>
    </footer>
    <script src="~/Script/angular.min.js"></script>

    <script src="~/Script/AngularController/HomeAngular.js"></script>


</body>

</html>
